<header><h1>Availability</h1></header>

<div class="row">
	<div id="availability" class="col-md-6 col-md-offset-3">
		<ul>
			<h3>Limited to 10 hours per week. At a rate of $300/hour. Rate it non-negotiable.</h3>
			<h3>May 5th - May 23rd: Booked</h3>
			<h3>May 25h - May 29th: <a href="mailto:dan85.cardenas@gmail.com=I want to hire you from May 25 to May 29">Available</a></a></h3>
		</ul>
	</div>
</div>