<div class="row">
	<div class="col-md-6 col-md-offset-3">

	</div>
	<div id="availability" class="col-md-6 col-md-offset-3">
		<h2>Availability</h2>
		<p class="lead">I build & design simple, responsive, web applications all in Ruby on Rails, that's my speciality. Limited to 10 hours per week. At a rate of $150/hour. Rate is non-negotiable.</p>
		<ul>
			<h3>Jul 13th - Jul 31st: Booked</h3>
			<h3>Aug 3rd - Aug 7th: Booked</h3>
			<h3>Aug 16th - Aug 21st: Booked</h3>
			<h3>Aug 31st - Sep 4th: <a href="mailto:dan85.cardenas@gmail.com?subject=I want to hire you from Aug3rd - Aug7th">Available</a></h3>
		</ul>
	</div>
	<div class="col-md-6 col-md-offset-3">
		<h3>If you have a special request, shoot me a quick <a href="mailto:dan85.cardenas@gmail.com">email.</a></h3>
	</div>
</div>

