<header>
	<img src="/assets/logo2.jpg" atl="Orange Heart">
	<h1>Simple, responsive web apps.</h1>
</header>

<div classs="row">
	<div class="col-md-6 col-md-offset-3">
		<h3>We build simple, responsive web applications that work accross all devise platforms specifically using Ruby on Rails. You can <%= link_to "hire me", hire_me_path %> or you can find out more <%= link_to "about me", about_me_path %>.</h3>
	</div>
	<div class="col-md-6 col-md-offset-3">
		<h2>Web Apps</h2>
		<h3>Here are a few projects I have been working on.
			<h4>facilcorp.co the simplest way for a Latin American entrepreneur to incorporate their startup in the U.S.</h4>
			<h4>Pinterest clone.</h4>
			<h4>Straight to code <a href="https://github.com/daninmotion">GitHub</a></h4>
			<h4>The feel and look for this site is based on <a href="http://soff.es/">Soff.es</a>, who is a programmer I look up to and admire. Check him out.</h4>
		</h3>
		<footer>
			<p>© 2015 OrangeHeart</p>
		</footer>
	</div>
</div>