<header>
</header>

<div classs="row">
	<div class="col-md-6 col-md-offset-3" id="circle">
		<img src="/assets/kathanddan.png" class="img-responsive" atl="kathanddan" >
	</div>
	<div class="col-md-6 col-md-offset-3">
		<h1>Hi,</h1>
		<p class="lead">I'm Danny, I have a 0 prestige educational background in computer science, but I am a freaking learning machine! All my knowledge in programming and design has been a "trail and error" experience. If I don't have the answer to a problem, I just figure it out. You can <a href="http://www.danielcardenas.link/hire_me" target="_blank">hire me</a> or you can find out more <%= link_to "about me", about_me_path %>. I'm currently a freelance programmer/Ruby on Rails groupie, working full time as a Sales Manager for Marriott International--how the hell that happened? It's easy...life happened. I have three beautiful daughters--Kath (3 year old), Des (11 year old), and Jubi (8 year old). </p>
	</div>
	<div class="col-md-6 col-md-offset-3">
		<h1>Web Apps</h1>
		<p class="lead">
			Here are a few projects I have been working on.	
		</p>
	</div>
	<div class="col-md-6 col-md-offset-3" id="facilcorp">
		<a href="http://www.facilcorp.co/" target="_blank">
			<img src="/assets/facilcorplogo.png" class="img-responsive" atl="facilcorplogo" >
		</a>
	</div>

	<div class="col-md-6 col-md-offset-3">
		<br /><p class="lead">
			Straight to code, check out my <a href="https://github.com/daninmotion" target="_blank">GitHub.</a> This site was completely inspired by <a href="http://soff.es/" target="_blank">Sam Soffes</a> a kickass! programmer that I admire and look up to.
		</div>
	</div>

	<div class="col-md-6 col-md-offset-3">
		<footer>
			<p>© 2015 Daniel Cardenas</p>
		</footer>
	</div>
</div>