<%= render 'nav' %>
<section class="header">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3" id="circle">
        <%= image_tag "https://s3.amazonaws.com/danielcardeans-link/Images/kathanddan.png" %>
      </div>
      <div class="col-md-12">
          <div class="text-center">
            <h1 class="title">Daniel Cardenas</h1>
            <h2 class="skills">Full Stack Developer &amp; Designer</h2>

            <span class="icon">
              <span class="page-scroll"><a href="#work">
                <i class="fa fa-arrow-circle-down fa-5x"></i></a>
              </span>
            </span>

          </div>
        </div>
      </div>
    </div><!-- row -->
  </div>
</section>

<!--My Work -->
<section class="my-work">
  <div class="container" id="work">
    <div class="text-center">
      <h3 class="title">My Work</h3>
      <br>
    </div>
    <div class="row" id="image_row">
      <div class="col-md-4">
        <div class="portfolio-item">
          <a href="http://www.tipple.link/" target="_blank">
            <img src="https://s3.amazonaws.com/danielcardeans-link/Images/tipple_thumbnail.png" class="img-thumbnail" atl="tipple_thumbnail" >
          </a>
        </div>
      </div>
      <div class="col-md-4">
        <div class="portfolio-item">
          <a href="http://www.facilcorp.co/" target="_blank">
            <img src="https://s3.amazonaws.com/danielcardeans-link/Images/facilcorp_thumbnail.png" class="img-responsive" atl="facilcorp_thumbnail" >
          </a>
        </div>
      </div>
      <div class="col-md-4">
        <div class="portfolio-item">
          <a href="http://www.textandgrub.com/" target="_blank">
            <img src="https://s3.amazonaws.com/danielcardeans-link/Images/textandgrub_thumbnail.png" class="img-thumbnail" atl="textandgrub_thumbnail" >
          </a>
        </div>
      </div>
    </div><!-- end of row 1-->
    
    <!-- row2 -->
    <div class="row" id="image_row">
      <div class="col-md-4">
        <div class="portfolio-item">
          <a href="http://www.dailyveesoundtrack.com/" target="_blank">
            <img src="https://s3.amazonaws.com/danielcardeans-link/Images/dailyvee.png" class="img-thumbnail" atl="tipple_thumbnail" >
          </a>
        </div>
      </div>
    </div><!-- end of row2 -->
  </div><!-- end of My Work -->
</section>

<!-- Contact -->
<section class="contact">
  <div class="container" id="my-contact">
    <div class="text-center">
      <h1 class="title">Contact me</h1>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="text-center">
          <h3>Shoot an me email</h3>
          <ul class="socials list-inline">
            <li>
              <a href="mailto:dan85.cardenas@gmail.com" class="btn-social"><i class="fa fa-envelope-o"></i></a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-6">
        <div class="text-center">
          <h3>Keep in touch</h3>
          <ul class="socials list-inline">
            <li>
              <a href="https://twitter.com/dan_inmotion" target="_blank", class="btn-social"><i class="fa fa-twitter"></i></a>
            </li>
            <li>
              <a href="https://www.instagram.com/daninmotion/" target="_blank, "class="btn-social"><i class="fa fa-instagram"></i></a>
            </li>
          </ul>
          <p>© 2015 Daniel Cardenas</p>
        </div>
      </div>
    </div><!-- row ends -->
  </div>
</section>